.margin-bottom-0px {
  margin-bottom: 0;
}

.padding-0px {
  padding: 0 !important;
}

.padding-right-15px {
  padding-right: 15px !important;

}

.padding-left-15px {
  padding-left: 15px !important;
}

.width-90-per {
  width: 90% !important;
}

.width-100-per {
  width: 100% !important;
}

#page-wrapper {
  margin: 0 !important;
  border-right: 1px solid #e7e7e7;
  h1 {
    text-align: center;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    border-color: red;
  }
}